.box {
  width: 300px;
  height: 200px;
  background-color: tomato;
  display: flex;
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-around;

}

.box .flexbox1 {
  width: 50px;
  height: 50px;
  background-color: yellow;
  align-self: center;
}

.box2 .flexbox1 {
  width: 50px;
  height: 50px;
  background-color: mintcream;
}

.flexbox2 {
  width: 50px;
  height: 50px;
  background-color: green;

}

.flexbox3 {
  width: 50px;
  height: 50px;
  background-color: pink;

}

.box2 {
  width: 300px;
  height: 200px;
  background-color: red;
  display: flex;
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
  flex-wrap: wrap;
  align-items: flex-end;

}

.container {
  /* background-color: antiquewhite; */
}

.container .box3inner {
  width: 750px;
  height: 600px;
  background-color: antiquewhite;
}

.container .box3inner:hover {
  width: 750px;
  height: 600px;
  background-color: antiquewhite;
}

.container .box3inner .box3 {
  width: 700px;
  height: 500px;
}


.box4 {
  height: 55rem;
  background-color: lemonchiffon;
}